<ul class="task-list" [@openClose]="isOpen ? 'open' : 'closed'">
  <li *ngFor="let task of tasks; let i = index" class="task-item">
    <h3>{{ task.title }}</h3>
    @if (!showOptions()) {
    <span [style.color]="handleColorByStatus(task.status)">{{
      task.status
    }}</span>
    }
    <div
      [style.background]="handleColorByStatus(task.status)"
      class="statusIndicator"
    ></div>
    <div
      class="btn-wrapper"
      [appOnScroll]="showOptions()"
      [class.expanded]="isCurrentTaskExpended(task.id)"
    >
      <button
        [class.p-absolute]="!isCurrentTaskExpended(task.id)"
        [class.btn-translate]="isCurrentTaskExpended(task.id)"
        class="showmore-btn"
        (click)="showMoreDetails(task)"
      >
        {{ isCurrentTaskExpended(task.id) ? "Less >" : "More" }}
      </button>
      <button class="details-btn" (click)="onDetailsTask(task)">Details</button>
      <button class="update-btn" (click)="updateTask(task)">
        {{ isOpenForm ? "Close" : "Update" }}
      </button>
      <button class="delete-btn" (click)="deleteTask(task.id)">Delete</button>
    </div>
  </li>
</ul>
