<div class="profile-title" *ngIf="user()?.username">
  <h3>{{ user()?.username }}</h3>
</div>

<div class="title-container">
  <div class="task-bg-1"></div>
  <h2>Task List</h2>
  <p>
    This section contains all your tasks. Please add a new task to get started.
    Effective planning can enhance your productivity and lead to greater
    happiness.
  </p>
</div>
<div class="task-container">
  <div *ngIf="!currentTask">
    <app-tasks-form
      [isOpen]="(isOpenForm$ | async) ?? false"
      [formGroup]="taskForm"
      (submitForm)="handleTask()"
    ></app-tasks-form>
  </div>
  <div class="tasks-wrapper">
    <app-tasks-list
      [tasks]="(tasks$ | async) ?? []"
      [isOpen]="(isOpen$ | async) ?? false"
      [isOpenForm]="(isOpenForm$ | async) ?? false"
      (onDeleteTask)="onDeleteTask($event)"
      (onUpdateTask)="updateTask($event)"
      (detailsTasks)="detailsTasks($event)"
    ></app-tasks-list>
    <app-task-details
      (closeDetails)="closeDetails()"
      [currentTask]="currentTask"
      [isOpen]="(isOpen$ | async) ?? false"
    ></app-task-details>
  </div>
</div>
